<footer class="app-footer">
  <div class="container-fluid d-flex align-items-center justify-content-around">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            tooltip="Knowledge Base still to be developed"
            >Accessibility</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.cms.gov/"
            target="_blank"
            rel="noopener noreferrer"
            >CMS.gov</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.hhs.gov/"
            target="_blank"
            rel="noopener noreferrer"
            >Department of Health and Human Services (HHS)</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/index"
            target="_blank"
            rel="noopener noreferrer"
            >Agreements &amp; Policies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            tooltip="Knowledge Base still to be developed"
            >How to Use this Site</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            tooltip="Knowledge Base still to be developed"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
