$danger: #e00f16;
$secondary: #ebf6fd;
$success: #4d8000;

$btn-font-size: 0.875rem;

.btn--disabled {
  background-color: $btn-disabled-background-color !important;
  border-color: $btn-disabled-border-color !important;
  color: $btn-disabled-color !important;
  opacity: 1;
}
